<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>

    <title th:text="${titulo}"></title>
</head>
<body>
<!--Empieza el nav BAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{listar}">Listar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--fin de navBAR-->
<!--Empieza el formulario-->
<div class="container">
    <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>
    <form th:action="@{/form}" th:object="${jugador}" method="post">

        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control"/>

                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido}" class="form-control"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('apellido')}"
                       th:errors="*{apellido}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" th:field="*{email}" class="form-control"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" th:field="*{inscripcion}"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('inscripcion')}"
                       th:errors="*{inscripcion}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear Jugador" class="btn btn-primary"/>
        </div>
        <input type="hidden" th:field="*{id}"/>
    </form>
</div>
<!--Termina el formulario-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>